@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Previene el rebote elástico en iOS */
  overscroll-behavior: none; 
}

html, body, #root {
  /* Asegura que el contenedor padre ocupe todo el espacio real */
  height: 100%; 
  margin: 0;
  padding: 0;
  overflow: hidden; /* Importante para tu layout tipo "app" */
}

/* Fix específico para Safari antiguo si dvh falla */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}